@{
    ViewData["Title"] = "Divisao";
}

<h1>Operação Matemática - Divisão</h1>

<p>Preencha o formulário:</p>

<form action="ResultadoDivisao" method="post">

<label for="n1">Insira o número 1:</label>
    <input type="text" name="n1" id="n1">
<label for="n2">Insira o número 2:</label>
    <input type="text" name="n2" id="n2">

    <input type="submit" value="Dividir">
</form>